<header class="color-white">
    <div class="greetings">Greetings <span class="emoji emoji-vulcan"></span></div>
    <div class="subtext">I'm <h1 class="bold me">Adam Dickison</h1>, a full stack web developer with a passion for front-end architecture, process improvement, & communication.</span></div>
    <div class="contact">Let's link up <span class="emoji emoji-communicator"></span> <br /><a class="color-trek-gold" href="mailto:adam.dickison@gmail.com" class="highlight-link">adam.dickison@gmail.com</a></div>
    <div class="scroll">
        <a href=""><span></span><span></span><span></span></a>
    </div>
</header>