<section class="background">
    <h2>Background</h2>
    <p>I'm a full stack web developer with 16 years of development experience and a proven track record of implementing creative technical
        solutions and improving development processes.
    </p>
    <p>My work in manufacturing, government, and insurance have given me a strong background in software architecture and data normalization,
        while my experiences in marketing & advertising have helped hone my front-end skills with challenging projects. </p>
    <p>Most importantly, I'm a team builder who endeavors to increase efficiency and
        project successes. I believe communication and information sharing are the key traits that differentiate a good
        team from an excellent one.</p>
    <p><span class="bold">Outside of software development,</span> I enjoy spending time outside, reading about
        philosophy, psychology, and biology. I'm also an avid CD collector and if the format ever has a resurgence I'm going to finally be in the cool club.
    <p/>
    <p><img src="../assets/inmybag.jpg" /></p>

</section>
