<section class="technical-summary">
    <h2>Summary</h2>
    <article>
        <div class="list">
            <div class="list-group">
                <h3>Skills</h3>
                <ul>
                    <li>Excellent Communicator</li>
                    <li>Strong Analytical Skills</li>
                    <li>Motivated Self Learner</li>
                    <li>Highly Organized</li>
                </ul>
            </div>
            <div class="list-group">
                <h3>Languages</h3>
                <ul>
                    <li>Javascript</li>
                    <li>HTML</li>
                    <li>CSS/SCSS</li>
                    <li>SQL</li></li>
                    <li>PHP</li>
                    <li>ASP.NET</li>
                </ul>
            </div>
            <div class="list-group">
                <h3>Software Architecture</h3>
                <ul>
                    <li>Atomic Design</li>
                    <li>Technical Analysis</li>
                    <li>Technical Research</li>
                    <li>UI/UX</li>
                    <li>Data Normalization</li>
                    <li>MVC</li>
                </ul>
            </div>
            <div class="list-group">
                <h3>CMSs & OSs</h3>
                <ul>
                    <li>Drupal 8</li>
                    <li>Wordpress</li>
                    <li>macOS</li>
                    <li>Linux</li>
                    <li>Windows</li>
                </ul>
            </div>
        </div>
    </div>
</section>