<section class="experience">
    <h2>Experience</h2>
    <article class="jobs">
        <div class="job">
            <div class="employer">G.E. Appliances</div>
            <div class="dates">November 2018 - Present</div>
            <div class="position">Web Developer (Contracted)</div>
            <div class="overview">
                Drupal development and theming for cafeappliances.com and lifestyle.monogram.com. Worked with a completely remote team of developers, designers, project managers, and business users to analyze requirements and determine sprint tasks. Assisted junior front-end developer with development tasks and senior Drupal developer with QA and debugging.


            </div>
        </div>
        <div class="job">
            <div class="employer">Cornett Advertising</div>
            <div class="dates">March 2017 - November 2018</div>
            <div class="position">Web Developer</div>
            <div class="overview">
                Responsible for front-end development on awrestaurants.com, ofcvintages.com, and sharethelex.com. Maintenance on various Wordpress and Drupal sites. Worked directly with the designers, account planners, and project managers to lead project discovery, build scopes, and effectively communicate technical information to all stakeholders. Worked with directors and management to implement digital processes and build a digital training plan for designers, account planners, and project managers.
            </div>
        </div>
        <div class="job">
            <div class="employer">Kentucky Employers' Mutual Insurance</div>
            <div class="dates">January 2010 - March 2017</div>
            <div class="position">Software Developer</div>
            <div class="overview">
                Mobile development team lead. Responsible for analysis, design, and development for KEMI's web-based enterprise application serving over 24,000 policyholders and 5400 claimants in 120 Kentucky counties. Worked alongside Quality Assurance analysts to develop test plans and communicate project requirements. Performed code reviews and trained junior developers on existing standards, practices as well as new technologies.


            </div>
        </div>
        <div class="job">
            <div class="employer">Kentucky Adminsitrative Office of the Courts</div>
            <div class="dates">February 2006 - January 2010</div>
            <div class="position">Programmer/Analyst</div>
            <div class="overview">Managed the entire development life cycle of multiple web-based applications vital to the duties of the Kentucky Court System. Architected and built an enterprise help desk issue tracking system that integrated various siloed systems and data stores. Introduced and implemented version control for the software development team.
            </div>
        </div>
        <div class="job">
            <div class="employer">Contrologic Inc.</div>
            <div class="dates">July 2003 - February 2006</div>
            <div class="position">Software Engineer</div>
            <div class="overview">
                Responsible for software development, testing, and hardware installation of turn-key shipping and sorting systems for companies, including Ford Motor Company and Calphalon Cookware. Provided 24/7 on-call support, including onsite travel within 24 hours of customer request. Direct point of contact for customers, project managers, suppliers, and 3rd party engineers.

            </div>
        </div>
    </article>
</section>