<section class="background">
    <h2>Background</h2>
    <p>I'm a full stack web developer with 16 years of development experience and a proven track record of implementing technical
        solutions and development processes.
    </p>
    <p>My work in manufacturing, government, and insurance have given me a strong background in software architecture,
        while my experiences in marketing & advertising have developed my front-end skill set. </p>
    <p>Most importantly, I'm a team builder who endeavors to increase efficiency and
        project successes. I believe communication and information sharing are the key traits that differentiate a good
        team from an excellent one.</p>
    <img src="../assets/inmybag.jpg" />
    <p><span class="bold">Outside of software development,</span> I enjoy spending time outside, reading about
        philosophy, psychology, and evolutionary biology. I'm also an avid CD collector and if the format ever has a resurgence I'm going to finally be one of the cool kids.
    <p/>
</section>