<section class="featured-projects">
    <h2>Projects</h2>
    <div class="list">
        <div class="list-group">
            <ul>
                <li><a href="http://awrestaurants.com/">A&W Restaurants</a></li>
                <li><a href="https://ofcvintages.com/">O.F.C. Vintages</a></li>
            </ul>
        </div>
        <div class="list-group">
            <ul>
                <li><a href="https://sharethelex.com/">Share The Lex</a></li>
                <li><a href="https://www.cafeappliances.com/">Cafe Appliances</a></li>
            </ul>
        </div>
        <div class="list-group">
            <ul>
                <li><a href="http://1792bourbon.com/">1792 Bourbon</a></li>
                <li><a href="https://www.youprayapp.com/">YouPray App</a></li>
            </ul>
        </div>
        <div class="list-group">
            <ul>
                <li><a href="https://lifestyle.monogram.com/kitchen-photos">Monogram Appliances Gallery</a></li>
                <li><a href="https://ky.film/">The KY Film Association</a></li>
            </ul>
        </div>
    </div>
</section>