<section class="experience">
    <h2>Experience</h2>
    <article class="jobs">
        <div class="job">
            <div class="employer">G.E. Appliances</div>
            <div class="dates">November 2018 - Present</div>
            <div class="position">Web Frontend Developer (Contracted to GE Appliances)</div>
            <div class="overview">
                Frontend and Drupal development for cafeappliances.com, hiaerappliances.com, and lifestyle.monogram.com. Worked with multiple remote teams of developers, designers, project managers, and business users to analyze requirements and determine sprint tasks. Developed new Drupal modules and updated existing modules. Turned designer mock-ups into code. Assisted other remote developers with development tasks and debugging as well as managing QA with business users.
            </div>
        </div>
        <div class="job">
            <div class="employer">Cornett Advertising</div>
            <div class="dates">March 2017 - November 2018</div>
            <div class="position">Web Developer</div>
            <div class="overview">
Front-end development for A&W Restaurants, OFC Vintages, Kentucky Film Association, Buffalo Trace, and Cornett. Maintenance on existing sites using Wordpress, Drupal, and React. Worked with team to lead project discovery, build scopes, and effectively communicate technical constraints to all stakeholders. Assisted the media team in analytics tracking and reporting. Built responsive marketing emails. Implement digital processes and developed a digital training plan for designers, account planners, and project managers. Mentored graphic designers interested in learning front-end development.
            </div>
        </div>
        <div class="job">
            <div class="employer">Kentucky Employers' Mutual Insurance</div>
            <div class="dates">January 2010 - March 2017</div>
            <div class="position">Software Developer</div>
            <div class="overview">
Mobile development team lead. Responsible for analysis, design, and development for KEMI's web based enterprise application serving over 24,000 policy holders and 5,400 claimants in 120 Kentucky counties. Worked alongside Quality Assurance analysts and business users to develop test plans and project requirements. Performed code reviews and trained junior developers on existing standards and practices as well as new technologies.
            </div>
        </div>
        <div class="job">
            <div class="employer">Kentucky Adminsitrative Office of the Courts</div>
            <div class="dates">February 2006 - January 2010</div>
            <div class="position">Programmer/Analyst</div>
            <div class="overview">
              Managed the entire development life cycle of multiple web based applications vital to the duties of the Kentucky Court System. Architected and built an enterprise help desk issue tracking system that integrated various siloed systems and data stores. Introduced and implemented version control for the software development team. Responsible for statutory reporting of all court employee retirement accrual information.
            </div>
        </div>
        <div class="job">
            <div class="employer">Contrologic Inc.</div>
            <div class="dates">July 2003 - February 2006</div>
            <div class="position">Software Engineer</div>
            <div class="overview">
Responsible for software development, testing, and hardware installation of turn-key shipping and sorting systems for companies, including Ford Motor Company, Calphalon Cookware, Lifeway Books, and Value Drug Company. Purchased of all PC hardware, networking equipment, software, and scanning devices. Provided 24/7 on call support, including onsite travel within 24 hours of customer request. Direct point of contact for customers, project managers, suppliers, and 3rd party engineers.
            </div>
        </div>
    </article>
</section>
